div#main {

    display: flex;  
    flex: 1;
    overflow: hidden; 

    & > div {
        display: flex;
        overflow: hidden;
        margin-right: 7px;
        background-color: black;
        &:nth-of-type(1) {
            flex: 1
        }
        &:nth-of-type(2) {
            flex-shrink: 0;
        }
        &:nth-of-type(3) {
            flex: 1;
            margin-right: 0;
        }
    }

    @media  (max-width: 600px) {
        flex-direction: column;
    }
         
}

div#chart {

    flex: 1;
    padding: 2px;
    padding-right: 4px;
    display: flex;

    & label {
        color: #bababa;
    }

    & > div#col1 {

        @media (min-height: 1000px) {
            display: none;
        }
    
        width: 48px;
        position: relative;

        & > label {
            position: absolute;
            margin-top: -7px;
        }

        margin-bottom: 30px; // simulates scale div at the bottom of col2

    }

    & > div#col2 {

        justify-content: space-around;

        button.list-group-item {

            flex-grow: 1;
            padding-left: 0px;
            padding-right: 0px;
            max-height: 24px;        
            background: none;
            border-color: black;
            border-top-width: 1px;

            & > div:nth-of-type(1) {
                width: 48px;
                text-align: center;
                & > label {
                    margin-left: -3px;
                    cursor: pointer;
                }
                @media (max-height: 1000px) {
                    display: none;
                }    
            }
            & > div:nth-of-type(2) {
                small {
                    visibility: hidden;
                }
                & > div {
                    background: #3f5f6a!important;
                }
            }

            &:hover {
                & > div:nth-of-type(1) {
                    & > label {
                        color: lightgray;
                    }
                }
                & > div:nth-of-type(2) {
                    & > div {
                        background: lightgray!important;
                    }
                }    
            }

            &.active {
                margin-top: 0px;
                border-top-width: 1px;
                background-color: initial;
                & > div:nth-of-type(1) {
                    & > label {
                        color: #058eb8;
                    }
                }
                & > div:nth-of-type(2) {
                    & > div {
                        background: #058eb8!important;
                    }
                }                
            }

        } // button.list-group-item

        div#scale {
            margin-top: 7px;
            margin-left: 49px;
            display: flex;
            border: 1px solid #bababa;
            border-bottom-width: 0px;
            height: 23px;
            display: flex;
            justify-content: space-between;
            @media (max-height: 1000px) {
                margin-left: 0px;
            }
            & > label:nth-of-type(1) {
                margin-left: 3px;
            }
            & > label:nth-of-type(2) {
                margin-right: 3px;
            }
        }
    } //#col2
    
} // #chart

div#summary {
    color: #bababa;
    padding: 20px;
    width: 300px;
    /*
    @media (min-aspect-ratio: 3/4) {
        background-color: plum;
        width: 300px;
    } 
    */   
    @media  (max-width: 600px) {
        width: 100%;
    }
    & > h3 {
        color: #058eb8;
        font-family:Georgia, 'Times New Roman', Times, serif;    
        font-size: 60px;
        margin-bottom: 0px;
        margin-top: -8px;
        @media (max-height: 650px) {
            font-size: 30px;
        }
    }
    & > h3:nth-of-type(1) {
        margin-top: -20px;
    }
    & > h3:nth-of-type(2) {
        color: #02acab;
        font-size: 80px;
        @media (max-height: 650px) {
            font-size: 40px;
        }
    }
    hr {
        margin-top: 1px;
        margin-bottom: 0px;
    }
    & > span {
        @media (max-height: 650px) {
            font-size: 16px;
        }
    }
    & > span:nth-of-type(1) {
        color: white;
    }
}