$BREAKPOINT-PORTRAIT: "3/4";

html, body {
    background-color: black;
}

header {
    background-color: #444;
    color: white;
    padding: 10px;
}

div#main {

    display: flex;  
    flex: 1;
    overflow: hidden; 

    & > div {
        display: flex;
        overflow: hidden;
        background-color: black;
        &:nth-of-type(1) {
            flex: 1;
            max-width: 500px;
            padding-right: 7px;
            @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
                max-width: none;
                padding-right: 0px;
                padding-bottom: 3px;
            }
        }
        &:nth-of-type(2) {
            border-style: solid;
            border-color: gray;
            border-width: 0px;
            border-left-width: 1px;
            width: 300px;
            position: relative;
            @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
                width: initial;
                max-height: 20%;
                border-left-width: 0px;
                border-top-width: 1px;
            }
        }
        &:nth-of-type(3) {
            flex: 1;
        }
    }

    @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
        flex-direction: column;
    }
         
}

div#chart {

    $CHART-HEIGHT-BREAKPOINT: "900px";

    flex: 1;
    padding: 2px;
    display: flex;

    & label {
        color: #bababa;
    }

    & > div#col1 {

        @media (min-height: $CHART-HEIGHT-BREAKPOINT) {
            display: none;
        }
        @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
            display: block;
        }

        width: 48px;
        position: relative;

        & > label {
            position: absolute;
            margin-top: -7px;
        }

        margin-bottom: 30px; // simulates scale div at the bottom of col2

    }

    & > div#col2 {

        justify-content: space-around;

        button.list-group-item {

            flex-grow: 1;
            padding-left: 0px;
            padding-right: 0px;
            max-height: 24px;        
            background: none;
            border-color: black;
            border-top-width: 1px;

            & > div:nth-of-type(1) {
                width: 48px;
                text-align: center;
                & > label {
                    margin-left: -3px;
                    cursor: pointer;
                }
                @media (max-height: $CHART-HEIGHT-BREAKPOINT) {
                    display: none;
                }    
                @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
                    display: none;
                }        
            }
            & > div:nth-of-type(2) {
                small {
                    visibility: hidden;
                }
                & > div {
                    background: #3f5f6a!important;
                }
            }

            &:hover {
                & > div:nth-of-type(1) {
                    & > label {
                        color: lightgray;
                    }
                }
                & > div:nth-of-type(2) {
                    & > div {
                        background: lightgray!important;
                    }
                }    
            }

            &.active {
                margin-top: 0px;
                border-top-width: 1px;
                background-color: initial;
                & > div:nth-of-type(1) {
                    & > label {
                        color: #058eb8;
                    }
                }
                & > div:nth-of-type(2) {
                    & > div {
                        background: #058eb8!important;
                    }
                }                
            }

        } // button.list-group-item

        div#scale {
            margin-top: 7px;
            margin-left: 49px;
            display: flex;
            border: 1px solid #bababa;
            border-bottom-width: 0px;
            height: 23px;
            display: flex;
            justify-content: space-between;
            @media (max-height: $CHART-HEIGHT-BREAKPOINT) {
                margin-left: 0px;
            }
            @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
                margin-left: 0px;
            }
            & > label:nth-of-type(1) {
                margin-left: 3px;
            }
            & > label:nth-of-type(2) {
                margin-right: 3px;
            }
        }
    } //#col2
    
} // #chart

$SUMMARY-HEIGHT-BREAKPOINT: "650px";

div#summary, div#details {

    color: #bababa;
    padding: 20px;

    & > ul {
        list-style-type: none; /* Remove bullets */
        padding: 0; /* Remove padding */
        margin: 0; /* Remove margins */        
        display: flex;
        flex-direction: column;
        & > li:nth-of-type(1) {
            & > span.caption {
                color: white;
            }
        }
        @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
            flex-direction: row;
            flex-wrap: wrap;
        }
    }

    h3 {
        color: #058eb8;
        font-family:Georgia, 'Times New Roman', Times, serif;    
        font-size: 60px;
        margin-bottom: 0px;
        margin-top: -8px;
        @media (max-height: $SUMMARY-HEIGHT-BREAKPOINT) {
            font-size: 30px;
        }
        @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
            font-size: 30px;
        }
    }
    h3.emphasized {
        color: #02acab;
        font-size: 80px;
        @media (max-height: $SUMMARY-HEIGHT-BREAKPOINT) {
            font-size: 40px;
        }
        @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
            font-size: 40px;
        }
    }
    h3.de-emphasized {
        font-size: 36px;
        @media (max-height: $SUMMARY-HEIGHT-BREAKPOINT) {
            font-size: 18px;
        }
        @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
            font-size: 18px;
        }
    }
    hr {
        margin-top: 1px;
        margin-bottom: 0px;
    }
    span.caption {
        @media (max-height: $SUMMARY-HEIGHT-BREAKPOINT) {
            font-size: 14px;
        }
        @media (max-aspect-ratio: $BREAKPOINT-PORTRAIT) {
            font-size: 14px;
        }
    }
}

div#details {
    position: absolute;
    width: 100%;
    height: 100%;    
    background-color: black;
    animation-duration: 0.5s;
    animation-name: slideIn;
    left: 0px;

    &.hidden {
        margin-left: 100%;
        animation-duration: 0.25s;
        animation-name: slideOut;
    }
    
    @keyframes slideIn {
        from {
            margin-left: 100%;
        }
        to {
            margin-left: 0%;
        }
    }
    
    @keyframes slideOut {
        from {
            margin-left: 0%;
        }
        to {
            margin-left: 100%;
        }
    }    
}