div#main {

    display: flex;  
    flex: 1;
    overflow: hidden; 

    & > div {
        flex: 1;
        display: flex;
        overflow: hidden;
        margin-right: 7px;
        background-color: black;
        &:nth-of-type(3) {
            margin-right: 0;
        }
    }

    @media  (max-width: 600px) {
        flex-direction: column;
    }
         
}

div#chart {

    flex: 1;
    padding: 2px;
    padding-right: 4px;
    display: flex;

    & label {
        color: #bababa;
    }

    & > div#col1 {

        @media (min-height: 1000px) {
            display: none;
        }
    
        width: 48px;
        position: relative;

        & > label {
            position: absolute;
            margin-top: -7px;
        }

    }

    & > div#col2 {

        justify-content: space-around;

        button.list-group-item {

            flex-grow: 1;
            padding-left: 0px;
            padding-right: 0px;
            max-height: 24px;        
            background: none;
            border-color: black;
            border-top-width: 1px;
            
            & > div:nth-of-type(1) {
                width: 48px;
                text-align: center;
                & > label {
                    margin-left: -3px;
                    cursor: pointer;
                }
                @media (max-height: 1000px) {
                    display: none;
                }    
            }
            & > div:nth-of-type(2) {
                small {
                    visibility: hidden;
                }
                & > div {
                    background: #3f5f6a!important;
                }
            }

            &:hover {
                & > div:nth-of-type(1) {
                    & > label {
                        color: lightgray;
                    }
                }
                & > div:nth-of-type(2) {
                    & > div {
                        background: lightgray!important;
                    }
                }    
            }

            &.active {
                margin-top: 0px;
                border-top-width: 1px;
                background-color: initial;
                & > div:nth-of-type(1) {
                    & > label {
                        color: #058eb8;
                    }
                }
                & > div:nth-of-type(2) {
                    & > div {
                        background: #058eb8!important;
                    }
                }                
            }

        }
    }
    
}